.videoCard{
    width: 270px;
    margin-bottom: 40px;
}

.videoCard_thumbnail{
    height: 140px;
    width: 250px;
    object-fit: cover;
    cursor: pointer;
    /* margin-right: ; */
}

.videoCard_info{
display: flex;
margin-top: 10px ;
padding-right: 30px;
}
.videoCard_text{
    margin-left:15px ;
}
.videoCard_text >h4{
    margin-bottom:5px ;
    font-size: 14px;
}
.videoCard_text >p{
    color: rgb(113, 110, 110);
    font-size: 14px;
}
.videoCard_avatar{
height: 40px !important;
width: 40px !important;
cursor: pointer;
}